@model EmployeeManagement.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Employee Management</h2>

<hr />

<p>
    <a asp-action="Create">Add Employee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.Employees)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => employee.Name)
                </td>
               
                <td>
                    <a asp-action="Edit" asp-route-id="@employee.EmployeeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@employee.EmployeeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@employee.EmployeeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@*<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>*@
